<!--*Footer*-->
<footer id="mt_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="follow_us">
                    <a href="index.html">
                        <img src="~/images/c-logo.png" alt="Logo">
                    </a>
                    <p> Коллекция домов премиум-класса от «Nirman» – масштабные загородные дома, обеспечивающие высочайший уровень комфорта. Современные коттеджи «Премиум» возводятся из высококачественных материалов: инновационного клеёного бруса нового профиля и усиленного каркаса.</p>

                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="mt_contact_ftr">
                    <h3>Быстрый переход</h3>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Главная страница</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="About">О нас</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Team">Команда</a>
                        </li>
                        <li>
                            <a asp-controller="Store" asp-action="Index">Товары</a>
                        </li>
                    </ul>
                </div>
            </div>
            

        </div>
    </div>
    <div class="mt_footer_copy">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="copy_txt">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--* End Footer*-->