<!--PRELOADER-->
<div class="preloader"><div class="spinner"></div></div>

<!--*Header*-->
<header id="inner-navigation">

    <!-- navbar start -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-sticky-function navbar-arrow">

        <div class="container">

            <div class="logo pull-left">
                <a asp-controller="Home" asp-action="Index"><img src="~/images/c-logo.png" alt=""></a>
            </div>

            <div id="navbar" class="navbar-nav-wrapper pull-right">
                <ul class="nav navbar-nav navbar-right" id="responsive-menu">
                    <li >
                        <a asp-controller="Home" asp-action="Index">Главная страница</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="About">О нас</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Team">Команда</a>
                    </li>
                    <li>
                        <a asp-controller="Store" asp-action="Index">Товары</a>
                    </li>
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <li>
                            <a>@User.Identity.Name</a>

                            @if (User.IsInRole("Admin"))
                            {
                                <ul>
                                    <li><a asp-controller="Store" asp-action="Create">Создать товар</a></li>
                                    <li><a asp-controller="Account" asp-action="ViewHistory">История заказов</a></li>
                                    <li><a asp-controller="Account" asp-action="Logout">Выход</a></li>
                                </ul>
                            }
                            else
                            {
                                <ul>
                                    <li><a asp-controller="Account" asp-action="ViewHistory">История заказов</a></li>
                                    <li><a asp-controller="Account" asp-action="Logout">Выход</a></li>
                                </ul>
                            }


                            

                        </li>

                    }
                    else
                    {
                        <li><a asp-controller="Account" asp-action="Create">Регистрация</a></li>
                        <li><a asp-controller="Account" asp-action="Login">Вход</a></li>
                    }
                    
                </ul>
            </div><!--/.nav-collapse -->

            <div class="shopping-main">
                <div class="shopping-cart-holder">
                    <div class="shopping-cart-inner">
                        <a itemprop="url" class="header-cart header-cart-svg-path" asp-controller="Cart" asp-action="Index">
                            <span class="cart-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17.998px" height="23.997px" viewBox="0 0 17.998 23.997" enable-background="new 0 0 17.998 23.997" xml:space="preserve">
                                <g>
                                <path fill="#121F38" d="M17.575,23.835H0.491V6.381h17.083V23.835z M1.234,23.092h15.598V7.123H1.234V23.092z M13.118,8.98h-0.743
                                        V4.152c0-0.929-0.325-1.718-0.975-2.367c-0.65-0.65-1.439-0.976-2.368-0.976S7.315,1.135,6.666,1.785
                                        c-0.65,0.649-0.975,1.438-0.975,2.367V8.98H4.948V4.152c0-1.145,0.395-2.112,1.184-2.901c0.789-0.79,1.756-1.185,2.901-1.185
                                        c1.145,0,2.112,0.395,2.901,1.185c0.789,0.789,1.184,1.757,1.184,2.901V8.98z"></path>
                                    </g>
                                <g>
                                    </g>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div id="slicknav-mobile"></div>
    </nav>
    <!-- navbar end -->
</header>
<!--* End Header*-->