@model Product

<section id="pagebanner">
    <div class="page-title">
        <h2 class="white text-center">Создать продукт</h2>
    </div>
</section>


<section class="">
    <div class="contact-inner">
        <div class="col-md-6">
            <div class="contact_form">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Наименование</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label">Описание</label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Price" class="control-label">Цена</label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ImageFile" class="control-label">Загрузите фотографию</label>
                        <input type="file" class="mt_btn_yellow" asp-for="ImageFile" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button class="mt_btn_yellow">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.ckeditor.com/4.19.0/standard/ckeditor.js"></script>
<script>

    CKEDITOR.replace('Description');
</script>

