<!-- Slider -->
<div id="home-banner" class="carousel kbrns_zoomInOut ps_easeOutQuart" data-ride="carousel" data-pause="hover" data-interval="10000" data-duration="2000">

    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">

        <!-- First Slide -->
        <div class="item active">
            <!-- Slide Background -->
            <img src="images/slider/slide-1.jpg" alt="slider_01" />
            <!-- Left Slide Text Layer -->
            <div class="caption_slide1 fadeInRight" data-animation="animated fadeInRight">
                <h1 class="white">«Nirman»</h1>
                <p class="white mar-bottom-25">
                    Коллекция домов премиум-класса от «Nirman» – масштабные загородные дома, обеспечивающие высочайший уровень комфорта. Современные коттеджи «Премиум» возводятся из высококачественных материалов: инновационного клеёного бруса нового профиля и усиленного каркаса.

                </p>
                <a href="#" class="btn mt_btn_yellow">О нас</a>
            </div><!-- /Left Slide Text Layer -->
        </div><!-- /item -->
        <!-- End of Slide -->

    </div><!-- End of Wrapper For Slides -->

</div> <!-- End Slider -->
<!--*About*-->
<section id="mt_about">
    <div class="container">

        <div class="about_inner">
            <div class="row">

                <div class="col-sm-6 col-xs-12">
                    <div class="about-content">
                        <span class="mar-bottom-15">О компании</span>
                        <h2 class="mar-bottom-30">«Nirman» — лидер отрасли домостроения</h2>
                        <p class="mar-bottom-40">
                            
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 wow slideInDown">
                    <div class="about-img">
                        <img src="images/project/bw6.jpg">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--*EndAbout*-->
<!--* Services*-->
<section id="mt_services" class="wow slideInLeft">
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <!-- section title -->
                <div class="section_heading">
                    <h2 class="section_title">
                        <span>Инновационный Подход к Строительству</span>
                    </h2>
                    <p class="heading_txt">
                        Мы активно применяем технологию BIM для создания цифровых трехмерных моделей зданий. Это обеспечивает более точное планирование, управление рисками и снижение затрат в процессе строительства.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="box mar-bottom-30 text-center">
                    <img src="images/blog-listing/blog_01.jpg" alt="services-1">
                    <div class="box-content">
                        <h3><a>Системы Умного Дома</a></h3>
                        <p>Наши жилые проекты оснащены современными системами умного дома, позволяющими жильцам контролировать освещение, температуру, безопасность и многое другое с использованием мобильных устройств.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="box mar-bottom-30 text-center">
                    <img src="images/blog-listing/blog_13.jpg" alt="services-2">
                    <div class="box-content">
                        <h3><a>Использование Строительных Роботов</a></h3>
                        <p>Мы внедряем робототехнику в строительные процессы для повышения эффективности и безопасности. Это включает автоматизированные системы строительства и роботов для выполнения сложных задач.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="box mar-bottom-30 text-center">
                    <img src="images/blog-listing/blog_10.jpg" alt="services-3">
                    <div class="box-content">
                        <h3><a>Интерактивные Презентационные Технологии</a></h3>
                        <p>Для улучшения взаимодействия с клиентами мы используем интерактивные презентационные технологии, позволяющие виртуально "пройтись" по будущим объектам и внести изменения ещё на этапе проектирования.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--* End Services*-->
<!--* Choose Us*-->
<section id="choose_us" class="about_choose_us">
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <!-- section title -->
                <div class="section_heading">
                    <h2 class="section_title">
                        <span>Почему выбрать Nirman для реализации ваших строительных проектов? </span>
                    </h2>
                    <p class="heading_txt">
                        предоставляем не просто услуги по строительству, а создаем партнерские отношения, нацеленные на ваши уникальные потребности. Вот несколько причин, почему сотрудничество с Nirman - это правильный выбор.
                    </p>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-5 col-sm-12 col-xs-12 mission-image">
                <img src="images/pic1.png" alt="mission-image">
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12 mission-list">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="choose-list mar-bottom-30">
                            <i class="fa fa-users"></i>
                            <h3>Индивидуальный Подход</h3>
                            <p>Мы понимаем, что каждый проект уникален. Nirman придает особое внимание индивидуальным потребностям заказчика. Мы тщательно анализируем требования и предоставляем персонализированные решения, которые соответствуют вашему видению.</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="choose-list mar-bottom-30">
                            <i class="fa fa-paint-brush"></i>
                            <h3>Опыт и Профессионализм</h3>
                            <p>Nirman - это компания с богатым опытом в сфере строительства. Наша команда состоит из высококвалифицированных специалистов, готовых воплотить в жизнь самые сложные проекты. Мы обеспечиваем профессионализм на всех этапах строительства - от проектирования до воплощения ваших идей в реальность.</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="choose-list mar-bottom-30">
                            <i class="fa fa-phone"></i>
                            <h3>Прозрачность и Коммуникация</h3>
                            <p>Важным аспектом нашей работы является открытость и прозрачность. Мы поддерживаем постоянное информационное взаимодействие с заказчиком, предоставляя детальные отчеты о ходе работ и обеспечивая полное понимание каждого этапа проекта.</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="choose-list mar-bottom-30">
                            <i class="fa fa-cogs"></i>
                            <h3>Качество и Инновации</h3>
                            <p>Nirman стремится к высшему стандарту качества в каждом проекте. Мы используем передовые технологии и инновационные методы строительства, чтобы обеспечить долговечность и функциональность вашего объекта.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--* End choose us*-->
<!--* Portfolio*-->
<section id="mt_project" class="">
    <div class="container wow slideInDown">

        <div class="row">
            <div class="col-xs-12">
                <!-- section title -->
                <div class="section_heading">
                    <h2 class="section_title">
                        <span>Проекты</span>
                    </h2>
                    <p class="heading_txt">
                        Добро пожаловать в портфолио Nirman, где мы гордимся представить наши успешные проекты, стоящие на стыке инноваций, качества и творчества. Наша компания стремится к созданию уникальных и функциональных объектов, отражающих индивидуальность каждого клиента.
                    </p>
                </div>
            </div>
        </div>
        <div class="project_list">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="project-image">
                        <a href="images/project/bw6.jpg">
                            <img src="images/project/bw6.jpg" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="project-image">
                        <a href="images/project/bw8.jpg">
                            <img src="images/project/bw8.jpg" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="project-image">
                        <a href="images/project/bw11.jpg">
                            <img src="images/project/bw11.jpg" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="project-image">
                        <a href="images/project/bw12.jpg">
                            <img src="images/project/bw12.jpg" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="project-image">
                        <a href="images/project/bw5.jpg">
                            <img src="images/project/bw5.jpg" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--* End Portfolio*-->
<!--* Testimonial*-->
<section id="mt_faq-testi">
    <div class="container wow slideInDown">

        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <!-- section title -->
                <div class="section_heading">
                    <h2 class="section_title">
                        <span>FAQ</span>
                    </h2>
                    <p class="heading_txt">
                        У нас есть удовольствие предоставить вам полезную информацию о нашей компании и наших строительных проектах.
                    </p>
                </div>

                <div class="accrodion-grp faq-accrodion" data-grp-name="faq-accrodion">
                    <div class="accrodion active">
                        <div class="accrodion-title">
                            <h4>Что отличает Nirman от других строительных компаний?</h4>
                        </div>
                        <div class="accrodion-content" style="display: block;">
                            <div class="inner">
                                <p>Ответ: Наша компания выделяется благодаря инновационным технологиям, персонализированному подходу к каждому проекту и высокому стандарту качества.</p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>Какова процедура начала сотрудничества с Nirman?</h4>
                        </div>
                        <div class="accrodion-content" style="display: none;">
                            <div class="inner">
                                <p>Ответ: Процесс начала сотрудничества включает в себя консультацию, анализ ваших требований, разработку индивидуального проекта и обсуждение сроков и бюджета.</p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>Как Nirman гарантирует соблюдение сроков и бюджета проекта?</h4>
                        </div>
                        <div class="accrodion-content" style="display: none;">
                            <div class="inner">
                                <p>Ответ: Мы строго следим за соблюдением сроков и бюджета, используя передовые методы планирования и управления проектами.</p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="mt_testimonial">
                    <!-- section title -->
                    <div class="section_heading">
                        <h2 class="section_title">
                            <span>Отзывы</span>
                        </h2>
                        <p class="heading_txt">
                            Мы приглашаем вас поделиться своими впечатлениями о сотрудничестве с Nirman. Ваше мнение невероятно важно для нас, поскольку оно помогает нам не только совершенствовать нашу работу, но и создавать лучшие пространства для жизни и бизнеса.
                        </p>
                    </div>

                    <div class="row slider-testi">
                        <div class="col-xs-12">
                            <div class="testimonial_main">
                                <p class="mar-bottom-30">"Сотрудничество с Nirman превзошло мои ожидания! Они не только воплотили мои идеи в реальность, но и предоставили выдающийся уровень сервиса. Спасибо за профессионализм и внимание к деталям!"</p>
                                <div class="client-pic"><img src="images/team/member-1.jpg" alt=""></div>
                                <h4>
                                    <a href="#">Екатерина Степанова</a>
                                </h4>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="testimonial_main">
                                <p class="mar-bottom-30">"Я был приятно удивлен эффективностью и прозрачностью работы Nirman. Они успешно управляли сроками и бюджетом, создавая высококачественный объект. Рекомендую!"</p>
                                <div class="client-pic"><img src="images/team/member-2.jpg" alt=""></div>
                                <h4>
                                    <a href="#">Алексей Иванов</a>
                                </h4>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="testimonial_main">
                                <p class="mar-bottom-30">"Опыт работы с Nirman оказался беззаветно положительным. Профессиональная команда, соблюдение сроков и отличное качество работ - именно то, что можно ожидать от лучших."</p>
                                <div class="client-pic"><img src="images/team/member-3.jpg" alt=""></div>
                                <h4>
                                    <a href="#">Иван Козлов</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!--* EndTestimonial*-->
<!--*Newsletter*-->
<div id="newsletter">
    <div class="container">
        <div class="row">
            
        </div>
    </div>
</div>
<!--*End Newsletter*-->