<!-- pagebanner -->
<section id="pagebanner">
    <div class="page-title">
        <h2 class="white text-center">Команда</h2>
    </div>
</section>
<!-- End Pagebanner -->
<!--*Team*-->
<section id="const-team">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- section title -->
                <div class="section_heading">
                    <h2 class="section_title">
                        <span>Наши сотрудники</span>
                    </h2>
                    <p class="heading_txt">
                        В Nirman мы гордимся высококвалифицированным и приверженным коллективом профессионалов, которые делают каждый наш проект возможным. Встречайте нашу команду, чья страсть к строительству и стремление к качеству стали ключевыми факторами нашего успеха.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 item mar-bottom-30">
                <div class="team_member">
                    <figure class="effect-julia">
                        <img src="~/images/team/team1.png" alt="team">
                    </figure>
                    <div class="member_name">
                        <h4 class="white">Иванов Александр</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 item mar-bottom-30">
                <div class="team_member">
                    <figure class="effect-julia">
                        <img src="~/images/team/team2.png" alt="team">

                    </figure>
                    <div class="member_name">
                        <h4 class="white">Смирнов Дмитрий</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 item mar-bottom-30">
                <div class="team_member">
                    <figure class="effect-julia">
                        <img src="~/images/team/team3.png" alt="team">

                    </figure>
                    <div class="member_name">
                        <h4 class="white">Кузнецов Андрей</h4>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 item mar-bottom-30">
                <div class="team_member">
                    <figure class="effect-julia">
                        <img src="~/images/team/team4.png" alt="team">

                    </figure>
                    <div class="member_name">
                        <h4 class="white">Попов Сергей</h4>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 item">
                <div class="team_member">
                    <figure class="effect-julia">
                        <img src="~/images/team/rmember-1.jpg" alt="team">

                    </figure>
                    <div class="member_name">
                        <h4 class="white">Васнецов Николай</h4>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 item">
                <div class="team_member">
                    <figure class="effect-julia">
                        <img src="~/images/team/rmember-2.jpg" alt="team">

                    </figure>
                    <div class="member_name">
                        <h4 class="white">Морозов Владимир</h4>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 item">
                <div class="team_member">
                    <figure class="effect-julia">
                        <img src="~/images/team/rmember-3.jpg" alt="team">

                    </figure>
                    <div class="member_name">
                        <h4 class="white">Козлов Артем</h4>
                    </div>
                    
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 item">
                <div class="team_member">
                    <figure class="effect-julia">
                        <img src="~/images/team/rmember-4.jpg" alt="team">

                    </figure>
                    <div class="member_name">
                        <h4 class="white">Соколов Михаил</h4>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!--* End Team*-->
<!--*Newsletter*-->
<div id="newsletter">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<!--*End Newsletter*-->